.search-fullscreen-container
	.container-fluid
		h1.logo Flight Finder

		.panel.panel-default.search-form
			.panel-body
				form.form-inline(name="search-form")
					.form-group
						.radio-inline
							label
								input(type="radio" name="trip-type" id="trip-type-one-way" value="oneWay" checked)
								| One way

						.radio-inline
							label
								input(type="radio" name="trip-type" id="trip-type-round-trip" value="roundTrip")
								| Round trip

					br.hidden-xs

					.form-group
						label.sr-only From city
						input.form-control(type="text" placeholder="From city" name="departure-city")

						label.sr-only To city
						input.form-control(type="text" placeholder="To city" name="arrival-city")

						br.visible-sm

						label.sr-only Departure date
						input.form-control.date-control(name="departure-date" placeholder="Departure date")

						label.sr-only Return date
						input.form-control.date-control(name="return-date" placeholder="Return date")

						button.btn.btn-default(type="submit") Search

					.alert.alert-danger Oh no!

				.search-progress
					h4.search-status-text
						i(aria-hidden="true").fa.fa-refresh.fa-spin.icon-space-right
						span Finding flights...
					.progress
						.progress-bar.progress-bar-striped.active(role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%")
