.search-fullscreen-container
	width 100%
	height 100%
	position fixed
	z-index 1
	display flex
	justify-content center
	align-items center
	text-align center

h1.logo
	font-family Pacifico
	text-shadow 2px 2px 5px rgba(0,0,0,0.4), 0 0 55px rgba(255, 255, 255, 0.89)
	color #7ac0ff

	font-size 60px
	margin-bottom 12px

	@media (min-width 768px)
		font-size 100px
		margin-bottom 22px

.search-form
	background-color #eee
	border 1px solid #aaa

	form
		margin-bottom 0

	input
		margin-right 10px

	input, button
		margin-bottom 15px

	.date-control
		@media (min-width 768px)
			max-width 125px

	.alert
		margin-bottom 0

.search-progress
	h4
		margin-top 0

	.fa-refresh.fa-spin
		animation fa-spin 1s infinite linear

	.progress-bar
		background-color #7ac0ff

	.progress
		margin-bottom 0
