html
	head
		title Flight Finder
		link(rel="stylesheet" type="text/css" href="styles/app.css")
		link(rel="stylesheet" type="text/css" href="vendor/bootstrap/dist/css/bootstrap.min.css")
		link(rel="stylesheet" type="text/css" href="vendor/pikaday/css/pikaday.css")
		link(rel="stylesheet" type="text/css" href="vendor/font-awesome/css/font-awesome.min.css")

	body
		#content

		scripts
			script(src="vendor/jquery/dist/jquery.min.js")
			script(src="vendor/bluebird/js/browser/bluebird.min.js")
			script(src="vendor/moment/min/moment.min.js")
			script(src="vendor/pikaday/pikaday.js")
			script(src="vendor/linq/linq.min.js")
			script(src="app/app.js")
