.bg-video-container
	position fixed
	top 0
	right 0
	bottom 0
	left 0
	overflow hidden
	z-index -100

.bg-video
	position absolute
	top 0
	left 0
	width 100%
	height 100%

@media (min-aspect-ratio 16/9)
	.bg-video
		height 300%
		top -100%

@media (max-aspect-ratio 16/9)
	.bg-video
		width 300%
		left -100%

@media (max-width 767px)
	.bg-video-container
		background url('../img/clouds.jpg') center center / cover no-repeat

	.bg-video
		display none
