table.table.flight-list
	thead
		tr
			th.airline-cell Airline
			th.flignt-number-cell Flight #
			th.departure-time-cell.text-center Departure Time
			th.arrival-time-cell.text-center Arrival Time
			th.price-cell.text-center Price
			th.flight-selector-cell.text-center Select
	tbody
