#search-results
	.container
		.panel.panel-default
			.panel-body
				button.btn.btn-default#search-again(type="button")
					i.fa.fa-chevron-left.icon-space-right(aria-hidden="true")
					| Search Again

		.row
			.col-sm-9
				.panel.panel-default.departure-leg
					.panel-body
						h3 Departure Flight
						#departure-flight-list-container

				.panel.panel-default.return-leg
					.panel-body
						h3 Return Flight
						#return-flight-list-container

			.col-sm-3
				.panel.panel-default
					.panel-body
						h3 Price
						h4.price
